<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtkq.api.dao.ClassObjMapper">


  <resultMap id="BaseResultMap" type="com.dtkq.api.entity.ClassObj">
    <id column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="class_id" jdbcType="INTEGER" property="linkClassId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <resultMap id="BackGroundMap" type="com.dtkq.api.entity.ClassObj">
    <id column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="class_id" jdbcType="INTEGER" property="linkClassId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <association property="classObjList"  select="com.dtkq.api.dao.LinkClassObjMapper.selectByObjId" column="obj_id">
    </association>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class_obj
    where obj_id = #{objId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" keyProperty="objId" parameterType="com.dtkq.api.entity.ClassObj" useGeneratedKeys="true">
    insert into class_obj (
    obj_id,
    user_id,
    title,
    url,
    img,
    status,
    ctime)
    values (
    #{objId,jdbcType=INTEGER},
    #{userId,jdbcType=INTEGER},
    #{title,jdbcType=VARCHAR},
    #{url,jdbcType=VARCHAR},
    #{img,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR},
    now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dtkq.api.entity.ClassObj">
    update class_obj
    set obj_id = #{objId,jdbcType=INTEGER}
    <if test="userId!= null">
      ,user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="title!= null">
      ,title = #{title,jdbcType=INTEGER}
    </if>
    <if test="url!= null">
      ,url = #{url,jdbcType=VARCHAR}
    </if>
    <if test="img!= null">
      ,img = #{img,jdbcType=VARCHAR}
    </if>
    <if test="status!= null">
      ,status = #{status,jdbcType=VARCHAR}
    </if>
    where obj_id = #{objId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="com.dtkq.api.entity.ClassObj" resultMap="BaseResultMap">
    select obj_id, user_id, title,
      url, img, status,ctime
    from class_obj
    where obj_id = #{objId,jdbcType=INTEGER}
    and status!=1
  </select>
  <select id="selectByKey" parameterType="com.dtkq.api.entity.ClassObj" resultMap="BaseResultMap">
    select a.obj_id, a.user_id, a.title,b.class_id,
    a.url, a.img, a.status,a.ctime
    from class_obj a
    left join link_class_obj b on a.obj_id=b.obj_id
    where 1=1
    <if test="objId!= null">
      and b.obj_id = #{objId,jdbcType=INTEGER}
    </if>
    <if test="linkClassId!= null">
      and b.class_id = #{linkClassId,jdbcType=INTEGER}
    </if>
    and a.status=0
    limit 6
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select obj_id, user_id, title,
      url, img, status,ctime
    from class_obj
    where status=0
  </select>

  <select id="selectByLimit" resultMap="BaseResultMap">
    select a.obj_id, a.user_id, a.title,
    a.url, a.img, a.status,a.ctime,b.class_id
    from class_obj a
    left join link_class_obj b on b.obj_id = a.obj_id
    where a.status=0
    <if test="linkClassId!= null">
      and b.class_id = #{linkClassId}
    </if>
    limit #{offset}, #{limit}
  </select>
  <select id="countNum"  resultType="java.lang.Integer" >
    select count(*)
    from class_obj a
    left join link_class_obj b on b.obj_id = a.obj_id
    where a.status=0
    <if test="linkClassId!= null">
      and b.class_id = #{linkClassId}
    </if>
  </select>

  <select id="findBackList" resultMap="BackGroundMap">
    select a.obj_id, a.user_id, a.title,
    a.url, a.img, a.status,a.ctime
    from class_obj a
    where a.status=0
    order by a.ctime desc
    limit #{offset}, #{limit}
  </select>

  <select id="countBackNum"  resultType="java.lang.Integer" >
    select count(*)
    from class_obj a
    where a.status=0
  </select>

</mapper>