<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtkq.api.mapper.LinkClassObjMapper">
  <resultMap id="BaseResultMap" type="com.dtkq.api.entity.LinkClassObj">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="ch_name" jdbcType="VARCHAR" property="chName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.dtkq.api.entity.LinkClassObj">
    delete from link_class_obj
    where 1=1
    <if test="id!=null">
    and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="objId!=null">

    and obj_id = #{objId,jdbcType=INTEGER}
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtkq.api.entity.LinkClassObj">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into link_class_obj (obj_id, class_id, ctime,
      `status`)
    values (#{objId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP},
      #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dtkq.api.entity.LinkClassObj">
    update link_class_obj
    set obj_id = #{objId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, obj_id, class_id, ctime, `status`
    from link_class_obj
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByObjId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select a.id, a.obj_id, a.class_id,b.ch_name, a.ctime, a.`status`
      from link_class_obj a
      LEFT JOIN talk_class b on a.class_id=b.id
    where obj_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select a.id, a.obj_id, a.class_id,b.ch_name, a.ctime, a.`status`
    from link_class_obj a
    LEFT JOIN talk_class b on a.class_id=b.id
  </select>
</mapper>