<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登特医生</title>
    <link rel="stylesheet" href="../static/css/doctor.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="doc">
        <div class="bg">
            <img src="../static/docImg/bg.png" alt="">
        </div>
        <div class="currLocation w">当前位置>>医生专家</div>
        <div class="title w">
            <div class="Ch">医生专家</div>
            <div class="En">DOCTOR</div>
        </div>
        <div class="doctor_module w">
            <div class="doctor_left doc">
                <div class="docImg">
                    <img src="../static/docImg/ZL.png" alt="">
                </div>
                <div class="doctor_content">
                    <div class="name-specialist">
                        <span class="name">张雷</span>
                        <span class="specialist">全科口腔专家</span>
                    </div>
                    <div class="doctor_graduation">毕业于广州医科大学口腔医学专业 武汉大学口腔医学院临床矫正进修专家 中华口腔医学会（CSA）会员</div>
                    <div class="doctor_adept">
                        擅长：龋齿、牙髓炎、牙龈炎、牙周炎、根尖周病等常规牙病的诊断和治疗，前牙美学修复设计，咬合重建修复，数字化全瓷修复，CAD/CAM修复，各式隐形矫正及传统矫正。</div>
                    <div class="appointment">
                        <div class="left_btn">预约</div>
                        <div class="right_icon"></div>
                    </div>
                </div>
            </div>
            <div class="doctor_right doc">
                <div class="doctor_content1">
                    <div class="name-specialist">
                        <span class="name">张雷</span>
                        <span class="specialist">全科口腔专家</span>
                    </div>
                    <div class="doctor_graduation">毕业于广州医科大学口腔医学专业 武汉大学口腔医学院临床矫正进修专家 中华口腔医学会（CSA）会员</div>
                    <div class="doctor_adept">
                        擅长：龋齿、牙髓炎、牙龈炎、牙周炎、根尖周病等常规牙病的诊断和治疗，前牙美学修复设计，咬合重建修复，数字化全瓷修复，CAD/CAM修复，各式隐形矫正及传统矫正。</div>
                    <div class="appointment">
                        <div class="left_btn">预约</div>
                        <div class="right_icon"></div>
                    </div>
                </div>
                <div class="docImg">
                    <img src="../static/docImg/ZL.png" alt="">
                </div>
            </div>
            <div class="doctor_left doc">
                <div class="docImg">
                    <img src="../static/docImg/ZL.png" alt="">
                </div>
                <div class="doctor_content">
                    <div class="name-specialist">
                        <span class="name">张雷</span>
                        <span class="specialist">全科口腔专家</span>
                    </div>
                    <div class="doctor_graduation">毕业于广州医科大学口腔医学专业 武汉大学口腔医学院临床矫正进修专家 中华口腔医学会（CSA）会员</div>
                    <div class="doctor_adept">
                        擅长：龋齿、牙髓炎、牙龈炎、牙周炎、根尖周病等常规牙病的诊断和治疗，前牙美学修复设计，咬合重建修复，数字化全瓷修复，CAD/CAM修复，各式隐形矫正及传统矫正。</div>
                    <div class="appointment">
                        <div class="left_btn">预约</div>
                        <div class="right_icon"></div>
                    </div>
                </div>
            </div>
            <div class="doctor_right doc">
                <div class="doctor_content1">
                    <div class="name-specialist">
                        <span class="name">张雷</span>
                        <span class="specialist">全科口腔专家</span>
                    </div>
                    <div class="doctor_graduation">毕业于广州医科大学口腔医学专业 武汉大学口腔医学院临床矫正进修专家 中华口腔医学会（CSA）会员</div>
                    <div class="doctor_adept">
                        擅长：龋齿、牙髓炎、牙龈炎、牙周炎、根尖周病等常规牙病的诊断和治疗，前牙美学修复设计，咬合重建修复，数字化全瓷修复，CAD/CAM修复，各式隐形矫正及传统矫正。</div>
                    <div class="appointment">
                        <div class="left_btn">预约</div>
                        <div class="right_icon"></div>
                    </div>
                </div>
                <div class="docImg">
                    <img src="../static/docImg/ZL.png" alt="">
                </div>
            </div>
            <div class="doctor_left doc">
                <div class="docImg">
                    <img src="../static/docImg/ZL.png" alt="">
                </div>
                <div class="doctor_content">
                    <div class="name-specialist">
                        <span class="name">张雷</span>
                        <span class="specialist">全科口腔专家</span>
                    </div>
                    <div class="doctor_graduation">毕业于广州医科大学口腔医学专业 武汉大学口腔医学院临床矫正进修专家 中华口腔医学会（CSA）会员</div>
                    <div class="doctor_adept">
                        擅长：龋齿、牙髓炎、牙龈炎、牙周炎、根尖周病等常规牙病的诊断和治疗，前牙美学修复设计，咬合重建修复，数字化全瓷修复，CAD/CAM修复，各式隐形矫正及传统矫正。</div>
                    <div class="appointment">
                        <div class="left_btn">预约</div>
                        <div class="right_icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block w">
            <el-pagination :background=true page-size="6" layout="pager" :total="sumTiao"></el-pagination>
        </div>
        <div class="yuyue_procedure w">
            <div class="procedure_title">
                <div class="procedure_Ch">登特口腔预约流程</div>
                <div class="procedure_En">Technological process</div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el: '#doc',
        data: {
            sumTiao: 100,
            getDoctors: {
                limit: 5,
                offset: 1
            }
        },
        created() {
            let that = this;
            axios.post('http://172.16.19.101:8080/DTKQ/Doctor/findAllByLimit',this.getDoctors)
                .then(res=> {
                    console.log(res);
                })
                .catch(error=> {
                    console.log(error);
                })
        },
    })
</script>